name: beesports
description: "A sports matchmaking application for BINUS students."
publish_to: "none"
version: 1.0.0+1

environment:
  sdk: ^3.5.3

dependencies:
  flutter:
    sdk: flutter

  # State Management
  flutter_bloc: ^8.1.6
  equatable: ^2.0.5

  # Dependency Injection
  get_it: ^7.7.0

  # Navigation
  go_router: ^14.0.0

  # Backend
  supabase_flutter: ^2.0.2
  dio: ^5.4.0

  # Config & Utils
  flutter_dotenv: ^5.1.0
  url_launcher: ^6.2.4

  # UI
  google_fonts: ^6.2.1
  cupertino_icons: ^1.0.8

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0

flutter:
  uses-material-design: true
  assets:
    - .env
